<div class="qd-supplies__content">  
    <div class="qd-supplies__items" flex layout="row" layout-align="start center" layout-wrap>
        <div class="qd-supplies__item-wrapper" flex>
            <md-card class="qd-supplies__item-order-history" flex layout="column">
            	<div class="qd-supplies__item-order-history--order-details-wrapper" flex layout="column" layout-gt-xs="row" layout="start center">
            		<div flex layout="row" layout-wrap>
		            	<div class="qd-supplies__item-order-history--details">
                            <label>Order Occurs</label>
                            Monthly - Day 1 of every 1 month
                        </div>
	            	</div>
	            	<div class="qd-supplies__item-order-history--order-actions" flex="1" layout="row" layout-align="center center" layout-align-gt-xs="end center">
		            	<md-button class="qd-button" ng-click=""><md-icon class="qd-icon icon-delete"></md-icon>
            			Delete
            			</md-button>
		            	<md-button class="qd-button" ng-click=""><md-icon class="qd-icon icon-edit"></md-icon>
		            	Edit
       					</md-button>
                        <md-button class="qd-button show-order" ng-click="vm.showOrder = !vm.showOrder"><md-icon class="qd-icon qd-icon--green" ng-class="vm.showOrder ? 'icon-arrowup' : 'icon-arrowdown'"></md-icon>
                        </md-button>
	            	</div>
            	</div>
                <div class="qd-supplies__item-order-history--order-wrapper" ng-show="vm.showOrder">
                    <div class="qd-supplies__item--details" flex layout="row">
                        <div class="qd-supplies__item-order-history--img">
                            <img src="http://www.copanusa.com/files/cache/2536d4996d04873b8b1b5e5ca20d9d37_f136.jpg">
                        </div>
                        <div flex layout="column">
    	                    <div class="qd-supplies__item--title">SWAB, CULTURETTE AMIES GEL BLUE CAP COPAN,500/CS</div>
    	                    <div class="qd-supplies__item--number">Item &#35;: 105741</div>
    	                    <div class="qd-supplies__item--units">Units: 50/pk</div>
    	                    <div class="qd-supplies__item-order-history--quantity">Qty Ordered: <span class="amount">100</span></div>
    	                </div>
                    </div>
                    <div class="qd-supplies__item--details" flex layout="row">
                        <div class="qd-supplies__item-order-history--img">
                            <img src="http://www.novelupdates.com/img/noimagefound.jpg">
                        </div>
                        <div flex layout="column">
    	                    <div class="qd-supplies__item--title">Curad Flex Fab 3/4</div>
    	                    <div class="qd-supplies__item--number">Item &#35;: 105741</div>
    	                    <div class="qd-supplies__item--units">Units: 50/pk</div>
    	                    <div class="qd-supplies__item-order-history--quantity">Qty Ordered: <span class="amount">50</span></div>
    	                </div>
                    </div>
                </div>
            </md-card>

            <md-card class="qd-supplies__item-order-history expired" flex layout="column">
                <div class="qd-supplies__item-order-history--order-details-wrapper" flex layout="column" layout-gt-xs="row" layout="start center">
                    <div flex layout="row" layout-wrap>
                        <div class="qd-supplies__item-order-history--details">
                            <label>Order Occurs</label>
                            Monthly - Day 1 of every 1 month
                        </div>
                    </div>
                    <div class="qd-supplies__item-order-history--order-actions" flex="1" layout="row" layout-align="center center" layout-align-gt-xs="end center">
                        <md-button class="qd-button" ng-click=""><md-icon class="qd-icon icon-delete"></md-icon>
                        Delete
                        </md-button>
                        <md-button class="qd-button renew" ng-click=""><md-icon class="qd-icon icon-history"></md-icon>
                        Renew
                        </md-button>
                        <md-button class="qd-button show-order" ng-click="vm.showOrderExpired = !vm.showOrderExpired"><md-icon class="qd-icon qd-icon--green" ng-class="vm.showOrderExpired ? 'icon-arrowup' : 'icon-arrowdown'"></md-icon>
                        </md-button>
                    </div>
                </div>
                <div class="qd-supplies__item-order-history--order-wrapper" ng-show="vm.showOrderExpired">
                    <div class="qd-supplies__item--details" flex layout="row">
                        <div class="qd-supplies__item-order-history--img">
                            <img src="http://www.copanusa.com/files/cache/2536d4996d04873b8b1b5e5ca20d9d37_f136.jpg">
                        </div>
                        <div flex layout="column">
                            <div class="qd-supplies__item--title">SWAB, CULTURETTE AMIES GEL BLUE CAP COPAN,500/CS</div>
                            <div class="qd-supplies__item--number">Item &#35;: 105741</div>
                            <div class="qd-supplies__item--units">Units: 50/pk</div>
                            <div class="qd-supplies__item-order-history--quantity">Qty Ordered: <span class="amount">100</span></div>
                        </div>
                    </div>
                    <div class="qd-supplies__item--details" flex layout="row">
                        <div class="qd-supplies__item-order-history--img">
                            <img src="http://www.novelupdates.com/img/noimagefound.jpg">
                        </div>
                        <div flex layout="column">
                            <div class="qd-supplies__item--title">Curad Flex Fab 3/4</div>
                            <div class="qd-supplies__item--number">Item &#35;: 105741</div>
                            <div class="qd-supplies__item--units">Units: 50/pk</div>
                            <div class="qd-supplies__item-order-history--quantity">Qty Ordered: <span class="amount">50</span></div>
                        </div>
                    </div>
                </div>
            </md-card>
        </div>
    </div>
</div>