<div flex layout="row" layout-wrap>
    <div class="qd-supplies__categories--item" flex="100" flex-gt-xs="50">
        <a class="qd-link" ng-click="">All Categories</a>
    </div>
    
    <div class="qd-supplies__categories--item" flex="100" flex-gt-xs="50">
        <a class="qd-link" ng-click="">Frequently Ordered</a>
    </div>
    
    <div class="qd-supplies__categories--item" flex="100" flex-gt-xs="50">
        <a class="qd-link" ng-click="">Bandages and Dressings</a>
    </div>
    
    <div class="qd-supplies__categories--item" flex="100" flex-gt-xs="50">
        <a class="qd-link" ng-click="">Blood</a>
    </div>
    
    <div class="qd-supplies__categories--item" flex="100" flex-gt-xs="50">
        <a class="qd-link" ng-click="">Blood Collection Microtainer</a>
    </div>
    
    <div class="qd-supplies__categories--item" flex="100" flex-gt-xs="50">
        <a class="qd-link" ng-click="">Blood Culture Media/Btls</a>
    </div>
    
    <div class="qd-supplies__categories--item" flex="100" flex-gt-xs="50">
        <a class="qd-link" ng-click="">Burn Care</a>
    </div>
    
    <div class="qd-supplies__categories--item" flex="100" flex-gt-xs="50">
        <a class="qd-link" ng-click="">Cancer Diagnostics</a>
    </div>
    
    <div class="qd-supplies__categories--item" flex="100" flex-gt-xs="50">
        <a class="qd-link" ng-click="">Chemistry</a>
    </div>
    
    <div class="qd-supplies__categories--item" flex="100" flex-gt-xs="50">
        <a class="qd-link" ng-click="">Clinical/General Default</a>
    </div>
    
    <div class="qd-supplies__categories--item" flex="100" flex-gt-xs="50">
        <a class="qd-link" ng-click="">Closures, Caps and Plugs</a>
    </div>
    
    <div class="qd-supplies__categories--item" flex="100" flex-gt-xs="50">
        <a class="qd-link" ng-click="">Culturettes/Swabs</a>
    </div>
    
    <div class="qd-supplies__categories--item" flex="100" flex-gt-xs="50">
        <a class="qd-link" ng-click="">Faceshields</a>
    </div>
    
    <div class="qd-supplies__categories--item" flex="100" flex-gt-xs="50">
        <a class="qd-link" ng-click="">FREPP/SEPP</a>
    </div>
    
    <div class="qd-supplies__categories--item" flex="100" flex-gt-xs="50">
        <a class="qd-link" ng-click="">Histology</a>
    </div>
    
    <div class="qd-supplies__categories--item" flex="100" flex-gt-xs="50">
        <a class="qd-link" ng-click="">Histology Supplies</a>
    </div>
    
    <div class="qd-supplies__categories--item" flex="100" flex-gt-xs="50">
        <a class="qd-link" ng-click="">Other</a>
    </div>
    
    <div class="qd-supplies__categories--item" flex="100" flex-gt-xs="50">
        <a class="qd-link" ng-click="">Other Histology Chemicals</a>
    </div>
    
    <div class="qd-supplies__categories--item" flex="100" flex-gt-xs="50">
        <a class="qd-link" ng-click="">Pap Smear</a>
    </div>
    
    <div class="qd-supplies__categories--item" flex="100" flex-gt-xs="50">
        <a class="qd-link" ng-click="">Pipets</a>
    </div>
    
    <div class="qd-supplies__categories--item" flex="100" flex-gt-xs="50">
        <a class="qd-link" ng-click="">Urine Collection</a>
    </div>
    
    <div class="qd-supplies__categories--item" flex="100" flex-gt-xs="50">
        <a class="qd-link" ng-click="">Vials</a>
    </div>
</div>