<form name="qdSuppliesCart">
<section class="qd-supplies qd-supplies__cart">
    <div class="qd-supplies__subtitle" flex layout="row" layout-align="start center">
        Orders placed by 4PM EST should ship the same day.
    </div>
    
    <md-card class="qd-supplies__cart--card">
        <md-card-header class="qd-supplies__cart--card-header" layout="row" layout-align="start center">
            <md-card-header-text layout="row" class="layout-row">
                Review
            </md-card-header-text>
        </md-card-header>
        
        <md-card-content class="qd-supplies__cart--card-content" flex layout="column">
            <div class="qd-supplies__item--details" flex layout="row">
                <div class="qd-supplies__item-order-history--img">
                    <img src="http://www.copanusa.com/files/cache/2536d4996d04873b8b1b5e5ca20d9d37_f136.jpg">
                </div>
                
                <div flex layout="column">
                    <div class="qd-supplies__item--title">SWAB, CULTURETTE AMIES GEL BLUE CAP COPAN,500/CS</div>
                    <div class="qd-supplies__item--number">Item &#35;: 105741</div>
                    <div class="qd-supplies__item--units">Units: 50/pk</div>
                    <div class="qd-supplies__item--order">
                        Qty:
                        <input type="text" class="qd-text-input" value="100">
                    </div>
                </div>
                
                <div flex="1" layout="column" layout-align="center end">
                    <button class="md-icon-button md-button" type="button" ng-click="">
                        <md-icon class="qd-icon icon-close" aria-label="Close Button" aria-hidden="true"></md-icon>
                    </button>
                </div>
            </div>
            
            <div class="qd-supplies__item--details" flex layout="row">
                <div class="qd-supplies__item-order-history--img">
                    <img src="http://www.novelupdates.com/img/noimagefound.jpg">
                </div>
                
                <div flex layout="column">
                    <div class="qd-supplies__item--title">Curad Flex Fab 3/4</div>
                    <div class="qd-supplies__item--number">Item &#35;: 105741</div>
                    <div class="qd-supplies__item--units">Units: 50/pk</div>
                    <div class="qd-supplies__item--order">
                        Qty:
                        <input type="text" class="qd-text-input" value="50">
                    </div>
                </div>
                
                <div flex="1" layout="column" layout-align="center end">
                    <button class="md-icon-button md-button" type="button" ng-click="">
                        <md-icon class="qd-icon icon-close" aria-label="Close Button" aria-hidden="true"></md-icon>
                    </button>
                </div>
            </div>
        </md-card-content>
    </md-card>
    
    <md-card class="qd-supplies__cart--card" ng-class="{'qd-supplies__cart--card-edit-mode' : vm.editAddress}">
        <md-card-header class="qd-supplies__cart--card-header" layout="row" layout-align="space-between center">
            <md-card-header-text layout="row" class="layout-row">
                <span ng-if="vm.editAddressTitle">Edit&nbsp;</span> Shipping Address
            </md-card-header-text>
            
            <button class="md-icon-button md-button" type="button" ng-click="vm.editSuppliesAddress()" aria-label="Activate Edit Mode">
                <md-icon ng-if="vm.editAddressIcon" class="qd-icon icon-edit" aria-hidden="false"></md-icon>
            </button>
        </md-card-header>
        
        
        <md-card-content class="qd-supplies__cart--card-content" layout="row">
            <div ng-if="vm.populateAddress">
                <md-radio-group ng-model="vm.shippingAddress">
                    <md-radio-button value="1" class="qd-radio-button">
                        <b>ABC Practice</b> 2100 Example Street, Mason, OH 45421
                    </md-radio-button>
                    <md-radio-button value="2" class="qd-radio-button">
                        <b>ABC Practice</b> 1500 Default Rd, Cincinnati, OH 44444
                    </md-radio-button>
                </md-radio-group>
            </div>
            
            <div ng-if="vm.editAddress" flex>
                <div class="qd-supplies__cart--edit" flex>
                    <div class="qd-supplies__cart--edit-address--header" flex layout="row" layout-align="start center">
                        <div class="qd-supplies__cart--edit-address--title" flex>
                            ABC Practice - Mason
                        </div>
                        
                        <md-icon flex="1" ng-click="" class="qd-icon icon-close" aria-hidden="false"></md-icon>
                    </div>
                    
                    <div flex layout="row">
                        <md-input-container flex="100" flex-gt-xs="50" class="qd-patient-profile__input-container">
                            <label class="qd-required">Practice Name</label>
                            <input class="qd-text-input" type="text" ng-model="vm.practice.mason.name" value="ABC Practice" required>
                        </md-input-container>
                    </div>
                    
                    <div flex layout="row" layout-wrap>
                        <md-input-container flex="100" flex-gt-xs="50" class="qd-patient-profile__input-container">
                            <label class="qd-required">Address 1</label>
                            <input class="qd-text-input" type="text" ng-model="vm.practice.mason.address" value="2100 Example Street" required>
                        </md-input-container>
                        
                        <md-input-container flex="100" flex-gt-xs="50" class="qd-patient-profile__input-container">
                            <label>Address 2</label>
                            <input class="qd-text-input" type="text" ng-model="vm.practice.mason.address2">
                        </md-input-container>
                        
                        <md-input-container flex="100" flex-gt-xs="50" class="qd-patient-profile__input-container">
                            <label class="qd-required">City</label>
                            <input class="qd-text-input" type="text" ng-model="vm.practice.mason.city" value="Mason" required>
                        </md-input-container>
                        
                        <md-input-container flex="50" flex-gt-xs="25" class="qd-patient-profile__input-container">
                            <label class="qd-required">State</label>
                            <md-select class="qd-select-input" ng-model="vm.practice.mason.state" required>
                              <md-option value="OH" selected>OH</md-option>
                            </md-select>
                        </md-input-container>
                        
                        <md-input-container flex="50" flex-gt-xs="25" class="qd-patient-profile__input-container">
                            <label class="qd-required">Zip</label>
                            <input class="qd-text-input" type="text" ng-model="vm.practice.mason.zip" value="45421" required>
                        </md-input-container>
                    </div>
                    
                    <md-divider class="qd-supplies__cart--divider"></md-divider>
                </div>
                
                <div class="qd-supplies__cart--edit" flex>
                    <div class="qd-supplies__cart--edit-address--header" flex layout="row" layout-align="start center">
                        <div class="qd-supplies__cart--edit-address--title" flex>
                            ABC Practice - Cincinnati
                        </div>
                        
                        <md-icon flex="1" ng-click="" class="qd-icon icon-close" aria-hidden="false"></md-icon>
                    </div>
                    
                    <div flex layout="row">
                        <md-input-container flex="100" flex-gt-xs="50" class="qd-patient-profile__input-container">
                            <label class="qd-required">Practice Name</label>
                            <input class="qd-text-input" type="text" ng-model="vm.practice.cincinnati.name" value="ABC Practice" required>
                        </md-input-container>
                    </div>
                    
                    <div flex layout="row" layout-wrap>
                        <md-input-container flex="100" flex-gt-xs="50" class="qd-patient-profile__input-container">
                            <label class="qd-required">Address 1</label>
                            <input class="qd-text-input" type="text" ng-model="vm.practice.cincinnati.address" value="1500 Default Rd" required>
                        </md-input-container>
                        
                        <md-input-container flex="100" flex-gt-xs="50" class="qd-patient-profile__input-container">
                            <label>Address 2</label>
                            <input class="qd-text-input" type="text" ng-model="vm.practice.cincinnati.address2">
                        </md-input-container>
                        
                        <md-input-container flex="100" flex-gt-xs="50" class="qd-patient-profile__input-container">
                            <label class="qd-required">City</label>
                            <input class="qd-text-input" type="text" ng-model="vm.practice.cincinnati.city" value="Cincinnati" required>
                        </md-input-container>
                        
                        <md-input-container flex="50" flex-gt-xs="25" class="qd-patient-profile__input-container">
                            <label class="qd-required">State</label>
                            <md-select class="qd-select-input" ng-model="vm.practice.cincinnati.state" required>
                              <md-option value="OH" selected>OH</md-option>
                            </md-select>
                        </md-input-container>
                        
                        <md-input-container flex="50" flex-gt-xs="25" class="qd-patient-profile__input-container">
                            <label class="qd-required">Zip</label>
                            <input class="qd-text-input" type="text" ng-model="vm.practice.cincinnati.zip" value="44444" required>
                        </md-input-container>
                    </div>
                    
                    <md-divider class="qd-supplies__cart--divider"></md-divider>
                </div>
                
                <div class="qd-supplies__cart--edit" flex>
                    <div class="qd-supplies__cart--edit-address--header" flex layout="row" layout-align="start center">
                        <div class="qd-supplies__cart--edit-address--title" flex>
                            Add New Address
                        </div>
                    </div>
                    
                    <div flex layout="row">
                        <md-input-container flex="100" flex-gt-xs="50" class="qd-patient-profile__input-container">
                            <label class="qd-required">Practice Name</label>
                            <input class="qd-text-input" type="text" ng-model="vm.practiceName" required>
                        </md-input-container>
                    </div>
                    
                    <div flex layout="row" layout-wrap>
                        <md-input-container flex="100" flex-gt-xs="50" class="qd-patient-profile__input-container">
                            <label class="qd-required">Address 1</label>
                            <input class="qd-text-input" type="text" ng-model="vm.practiceAddress" required>
                        </md-input-container>
                        
                        <md-input-container flex="100" flex-gt-xs="50" class="qd-patient-profile__input-container">
                            <label>Address 2</label>
                            <input class="qd-text-input" type="text" ng-model="vm.practiceAddress2">
                        </md-input-container>
                        
                        <md-input-container flex="100" flex-gt-xs="50" class="qd-patient-profile__input-container">
                            <label class="qd-required">City</label>
                            <input class="qd-text-input" type="text" ng-model="vm.practiceCity" required>
                        </md-input-container>
                        
                        <md-input-container flex="50" flex-gt-xs="25" class="qd-patient-profile__input-container">
                            <label class="qd-required">State</label>
                            <md-select class="qd-select-input" ng-model="vm.practiceState" required>
                              <md-option ng-value="option"></md-option>
                            </md-select>
                        </md-input-container>
                        
                        <md-input-container flex="50" flex-gt-xs="25" class="qd-patient-profile__input-container">
                            <label class="qd-required">Zip</label>
                            <input class="qd-text-input" type="text" ng-model="vm.practiceZip" required>
                        </md-input-container>
                    </div>
                    
                    <md-divider class="qd-supplies__cart--divider"></md-divider>
                </div>
            </div>
        </md-card-content>
        
        <div ng-if="vm.editAddressSave" layout="column" layout-align="center center" class="qd-save-cancel">
            <md-button class="md-raised qd-button" ng-click="" aria-label="Save Changes button">
                Save Changes
            </md-button>
            
            <a href="#" class="qd-link" ng-click="vm.cancelSuppliesAddress()">Cancel</a>
        </div>
    </md-card>
    
    <md-card class="qd-supplies__cart--card" ng-class="{'qd-supplies__cart--card-edit-mode' : vm.editReoccurrance}">
        <md-card-header class="qd-supplies__cart--card-header" layout="row" layout-align="space-between center">
            <md-card-header-text layout="row" class="layout-row">
                <span ng-if="vm.editReoccurranceTitle">Edit&nbsp;</span> Reoccurring Order (Optional)
            </md-card-header-text>
            
            <button class="md-icon-button md-button" type="button" ng-click="vm.editSuppliesReoccurrance()" aria-label="Activate Edit Mode">
                <md-icon ng-if="vm.editReoccurranceIcon" class="qd-icon icon-edit" aria-hidden="false"></md-icon>
            </button>
        </md-card-header>
        
        <md-card-content class="qd-supplies__cart--card-content" layout="row">
            <div ng-if="vm.populateReoccurrance">
                <div class="qd-supplies__cart--card-empty">Edit to set up reoccurring order.</div>
            </div>
            
            <div ng-if="vm.editReoccurrance">
                <div flex layout="row" layout-align="start center" layout-wrap>
                    <div layout="row" flex flex-xs="100" layout-align="start end">
                        <md-input-container flex class="qd-patient-profile__input-container qd-supplies__cart--input-no-margin">
                            <label>Start Date</label>
                            <input class="qd-text-input" type="text" ng-model="vm.reoccurance.startdate">
                        </md-input-container>
                        
                        to
                        
                        <md-input-container flex class="qd-patient-profile__input-container qd-supplies__cart--input-no-margin">
                            <label>End Date</label>
                            <input class="qd-text-input" type="text" ng-model="vm.reoccurance.enddate">
                        </md-input-container>
                    </div>
                    
                    <div class="qd-supplies__cart--radio-group" layout="column" flex flex-xs="100" layout-align="center start">
                        <label class="qd-patient-profile-card__label">Order Frequency</label>
        
                        <md-radio-group required="" layout="row" layout-align="start center" ng-model="vm.reoccurance.frequency" role="radiogroup">
                            <md-radio-button class="qd-radio-button" ng-click="vm.reoccurranceWeekly()">Weekly</md-radio-button>
                            
                            <md-radio-button value="Monthly" class="qd-radio-button" ng-click="vm.reoccurranceMonthly()" id="monthly">Monthly</md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
                
                <div ng-if="vm.reoccurranceWeeklyOptions">
                    <div class="qd-supplies__cart--group-padding" flex layout="row" layout-align="start center" layout-wrap>
                        Recur every
                        <md-input-container flex="1" class="qd-patient-profile__input-container">
                            <label></label>
                            <md-select class="qd-select-input" ng-model="vm.reoccurance.weeks">
                                <md-option ng-value="option" selected>1</md-option>
                            </md-select>
                        </md-input-container>
                        week(s) on:
                    </div>
                    
                    <div class="qd-supplies__cart--group-padding" flex layout="column" layout-gt-xs="row" layout-align="center start" layout-align-gt-xs="start center" layout-wrap>
                        <md-checkbox class="qd-checkbox" ng-model="vm.reoccurance.monday" type="checkbox" role="checkbox">
                            Monday
                        </md-checkbox>
                        
                        <md-checkbox class="qd-checkbox" ng-model="vm.reoccurance.tuesday" type="checkbox" role="checkbox">
                            Tuesday
                        </md-checkbox>
                        
                        <md-checkbox class="qd-checkbox" ng-model="vm.reoccurance.wednesday" type="checkbox" role="checkbox">
                            Wednesday
                        </md-checkbox>
                        
                        <md-checkbox class="qd-checkbox" ng-model="vm.reoccurance.thursday" type="checkbox" role="checkbox">
                            Thursday
                        </md-checkbox>
                        
                        <md-checkbox class="qd-checkbox" ng-model="vm.reoccurance.friday" type="checkbox" role="checkbox">
                            Friday
                        </md-checkbox>
                    </div>
                </div>
                
                <div ng-if="vm.reoccurranceMonthlyOptions">
                    <md-radio-group class="qd-supplies__cart--group-padding" required="" layout="column" ng-model="vm.reoccurance.monthlyfrequency" role="radiogroup">
                        <div flex layout="row" layout-align="start center">
                            <md-radio-button class="qd-radio-button"></md-radio-button>
                            Day
                            <md-input-container flex="1" class="qd-patient-profile__input-container">
                                <label></label>
                                <md-select class="qd-select-input" ng-model="vm.reoccurance.dayofevery">
                                    <md-option ng-value="option" selected>1</md-option>
                                </md-select>
                            </md-input-container>
                            of every
                            <md-input-container flex="1" class="qd-patient-profile__input-container">
                                <label></label>
                                <md-select class="qd-select-input" ng-model="vm.reoccurance.monthofevery">
                                    <md-option ng-value="option" selected>1</md-option>
                                </md-select>
                            </md-input-container>
                            month(s)
                        </div>
                        
                        <div flex layout="row" layout-align="start center" layout-wrap>
                            <md-radio-button value="monthly2" class="qd-radio-button" id="monthly2"></md-radio-button>
                            The
                            <md-input-container flex="1" class="qd-patient-profile__input-container">
                                <label></label>
                                <md-select class="qd-select-input" ng-model="vm.reoccurance.monthly1">
                                    <md-option ng-value="option" selected>first</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="1" class="qd-patient-profile__input-container qd-supplies__cart--input-adjustment">
                                <label></label>
                                <md-select class="qd-select-input" ng-model="vm.reoccurance.monthly2">
                                    <md-option ng-value="option" selected>Mon</md-option>
                                </md-select>
                            </md-input-container>
                            of every
                            <md-input-container flex="1" class="qd-patient-profile__input-container">
                                <label></label>
                                <md-select class="qd-select-input" ng-model="vm.reoccurance.monthly3">
                                    <md-option ng-value="option" selected>1</md-option>
                                </md-select>
                            </md-input-container>
                            month(s)
                        </div>
                    </md-radio-group>
                </div>
            </div>
        </md-card-content>
        
        <div ng-if="vm.editReoccurranceSave" layout="column" layout-align="center center" class="qd-save-cancel">
            <md-button class="md-raised qd-button" ng-click="" aria-label="Save Changes button">
                Save Changes
            </md-button>
            
            <a href="#" class="qd-link" ng-click="vm.cancelSuppliesReoccurrance()">Cancel</a>
        </div>
    </md-card>
    
    <md-card class="qd-supplies__cart--card" ng-class="{'qd-supplies__cart--card-edit-mode' : vm.editEmail}">
        <md-card-header class="qd-supplies__cart--card-header" layout="row" layout-align="space-between center">
            <md-card-header-text layout="row" class="layout-row">
                <span ng-if="vm.editEmailTitle">Edit&nbsp;</span> Email (Optional)
            </md-card-header-text>
            
            <button class="md-icon-button md-button" type="button" ng-click="vm.editSuppliesEmail()" aria-label="Activate Edit Mode">
                <md-icon ng-if="vm.editEmailIcon" class="qd-icon icon-edit" aria-hidden="false"></md-icon>
            </button>
        </md-card-header>
        
        <md-card-content class="qd-supplies__cart--card-content">
            <div flex ng-if="vm.populateEmail" layout="row" layout-wrap>
                <div class="qd-supplies__cart--card-hint" flex="100">
                    For shipping updates only.
                </div>
                
                <md-radio-group ng-model="vm.emailAddress">
                    <md-radio-button value="1" class="qd-radio-button qd-radio-button--truncate">
                        reallylong.employee.name@questdiagnostics.com
                    </md-radio-button>
                    
                    <md-radio-button value="2" class="qd-radio-button qd-radio-button--truncate">
                        phleb@abcpractice.org
                    </md-radio-button>
                </md-radio-group>
            </div>
            
            <div ng-if="vm.editEmail" flex>
                <div flex layout="row">
                    For shipping updates only.<br><br>
                </div>
                
                <div flex layout="column" layout-gt-sm="row">
                    <md-input-container flex="100" flex-gt-sm="50" class="qd-patient-profile__input-container">
                        <label>Email Address</label>
                        <input class="qd-text-input" type="text" ng-model="vm.email.new" placeholder="Add New">
                        
                        <div class="qd-patient-profile__photo-upload">
                            <button class="qd-link">Save</button>
                        </div>
                    </md-input-container>
                    
                    <div flex="100" flex-gt-sm="50" layout="column" layout-align="center start">
                        <div class="qd-supplies__cart--edit-email" flex="100" layout="row" layout-align="start center">
                            <md-icon class="qd-icon icon-close icon-space" aria-label="Close Button" aria-hidden="true"></md-icon>
                            <div class="qd-supplies__cart--edit-email-truncate">
                                reallylong.employee.name@questdiagnostics.com
                            </div>
                        </div>
                        
                        <div class="qd-supplies__cart--edit-email" flex="100" layout="row" layout-align="start center">
                            <md-icon class="qd-icon icon-close icon-space" aria-label="Close Button" aria-hidden="true"></md-icon>
                            <div class="qd-supplies__cart--edit-email-truncate">                              
                                phleb@abcpractice.org
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-card-content>
        
        <div ng-if="vm.editEmailSave" layout="column" layout-align="center center" class="qd-save-cancel">
            <md-button class="md-raised qd-button" ng-click="" aria-label="Save Changes button">
                Save Changes
            </md-button>
            
            <a href="#" class="qd-link" ng-click="vm.cancelSuppliesEmail()">Cancel</a>
        </div>
    </md-card>
    
    <md-card class="qd-supplies__cart--card">
        <md-card-header class="qd-supplies__cart--card-header" layout="row" layout-align="space-between center">
            <md-card-header-text layout="row" class="layout-row">
                Comments (Optional)
            </md-card-header-text>
        </md-card-header>
        
        <md-card-content class="qd-supplies__cart--card-content" layout="row">
            <md-input-container flex="" class="qd-supplies__cart--card-comments">
                <textarea ng-model="commentData.patient.patientComments" md-maxlength="250" maxlength="250" md-select-on-focus="" class="qd-text-input" aria-label="Order Comments"></textarea>
            </md-input-container>
        </md-card-content>
    </md-card>
    
    <div layout="column" layout-align="center center" class="qd-save-cancel">
        <button class="md-raised qd-button md-button" type="button" ng-click="" aria-label="Place Order button">
            Place Order
        </button>
        <a href="#" class="qd-link" ng-click="">Cancel</a>
    </div>
    
    <div ng-class="{'qd-patient-profile__fade-out' : vm.editAddress || vm.editReoccurrance || vm.editEmail}"></div>
</section>
</form>