.qd-index-page {
    background-color: $background-light-gray;

    &__filters {
        padding: 0 0 10px;
        margin: 0 20px;

        @include when-wider-than(desktop) {
            padding: 0;
            margin: 0 40px;
        }
    }

    &__filters-header {
        @extend %type-body-2;
        color: rgba($black, $text-opacity-secondary);
        outline: none;
        cursor: pointer;

        .qd-icon {
            margin-left: 10px;
        }
    }

    &__filters-content {
        margin: 25px -10px 0;
    }

    &__filters-row-one {
        margin-bottom: -47px;
    }

    &__filters-label {
        top: -21px;
        margin-bottom: 15px;
        overflow: visible !important;
    }

    &__filters-checkboxes {
        margin-top: 10px;

        .qd-checkbox {
            width: 40%;
            display: inline-block;

            @include when-wider-than(tablet) {
                width: auto;
            }
        }
    }

    &__content {
        
    }
    
    &__results-container  {
      border-top: 1px solid $divider-gray-1;
      background-color: $background-gray;
      min-height: calc(100vh - 300px);
    }

    &__cards {
        @include when-wider-than(tablet) {
            padding: 0 20px 20px;
        }

        @include when-wider-than(desktop) {
            padding: 0 40px 40px;
        }
    }

    &__results-bar {
        padding: 20px 20px 0;

        @include when-wider-than(desktop) {
            padding: 20px 40px 0;
            margin-bottom: -40px;
        }

        .qd-icon {
            margin-left: -7px;
        }
    }

    &__results-bar-back {
        @extend %type-cta;
        color: rgba($black, $text-opacity-secondary);
        cursor: pointer;
        outline: none;

        @include when-wider-than(tablet) {
            padding-right: 20px;
            margin-right: 15px;
            border-right: 1px solid $divider-gray-2;
        }
    }

    &__results-bar-status {
        @extend %type-body-2;
        color: rgba($black, $text-opacity-secondary);
        margin-top: 10px;

        @include when-wider-than(tablet) {
            display: inline;
        }
    }

    &__results-bar-subject {
        color: rgba($black, $text-opacity-primary);
    }

    &__no-results {
        @extend %type-headline-1;
        color: rgba($black, $text-opacity-secondary);
        text-align: center;
        padding: 20px;

        @include when-wider-than(desktop) {
            padding: 40px;
        }
    }
}

/* Positions the link in the button on the view where Javascript isn't enabled. */
a.qd-button.no-js {
    padding-top: 10px;
}
