.qd-mlcp  {
    background: $background-gray;
    
    .qd-header  {
        .qd-button  {
            width: auto;
            padding: 0 15px;
        }
    }
    
    &__filters  {
        padding: 15px 0;
        border-bottom: 1px solid $divider-gray-1;
        background: $background-light-gray;
        
        @include when-less-than(mini-tablet) {
            padding: 10px 0;
        }
        
        &-content {
            margin: 0 35px;
            
            @include when-less-than(desktop) {
                margin: 0 15px;
            }
        }
    }
    
    &__search {
        background: none;
        padding: 0;
        margin: 18px 0 18px 10px;
        
        @include when-less-than(mini-tablet) {
            margin-right: 10px;
        }

        &::before {
            font-size: 22px;
            color: $icon-dark-gray;
            position: absolute;
            left: 0;
            top: 4px;
        }

        input.qd-text-input {
            @extend %type-title-2;
            padding-left: 25px;
        }
        
        &.md-input-focused .icon-go, .icon-go  {
            position: absolute;
            top: 0;
            color: $green-l;
        }
        
        .md-errors-spacer {
            display: none;
        }
    }
    
    md-input-container.md-icon-right  {
        padding: 0;
    }
    
    &__results-content  {
        margin: 20px 40px;
        
        @include when-less-than(desktop) {
            margin: 15px 20px;
        }
        
        @include when-less-than(mini-tablet) {
            margin: 15px 0;
        }
    }
    
    &__results-title  {
        @include when-less-than(mini-tablet) {
            margin: 0 20px;
        }
    }
    
    &__test-container  {
        position: relative;
        border-bottom: 1px solid $divider-gray-1;
        background: $background-light-gray;
        
        &--border {
            border-top: 1px solid $divider-gray-1;
            
            .qd-mlcp__card {
                cursor: default;
            }
        }
        
        &--results  {
            border: 0;
            background: $background-gray;
            
            &::before, &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-color: transparent;
                border-bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            
            &::before {
                bottom: -25px;
                border-top-color: $divider-gray-1;
                border-width: 10px;
                z-index: 998;
            }
            
            &::after  {
                bottom: -24px;
                border-top-color: $background-gray;
                border-width: 11px;
                z-index: 999;
            }
        }
    }
    
    &__results  {
        background: $background-gray;
        
        &-filters {
            margin: 20px 0 0; 
            
            @include when-less-than(mini-tablet) {
                padding: 0 20px;
            }
            
            .qd-mlcp__search  {
                margin: 0 20px 8px 0;
                
                @include when-less-than(mini-tablet) {
                    min-width: 100%;
                    margin-right: 0;
                }
            }
            
            &--tests  {
                margin: 0;
            }
        }
    }
    
    &__card {
        @extend %type-body-2;
        @include elevation(2);
        border-radius: 0;
        margin: 10px 0 0;
        cursor: pointer;
        outline: 0;
        
        &-header  {
            min-height: 54px;
            padding: 15px 20px;
            border-bottom: 1px solid $divider-gray-1;
            
            @include when-less-than(tablet) {
                padding: 10px 15px;
            }
            
            &-right {
                color: $icon-dark-gray;
                
                @include when-less-than(mini-tablet) {
                    margin-top: 5px; 
                }
                
                &--cost {
                    border-left: 1px solid $divider-gray-1;
                    margin-left: 10px;
                    padding-left: 10px;
                }
            }
        }
        
        &-content {
            padding: 15px 20px;
            
            @include when-less-than(mini-tablet) {
                padding: 10px 15px;
            }
            
            &--chips  {
                padding: 10px 20px;
                
                @include when-less-than(mini-tablet) {
                    padding: 10px 15px;
                }
            }
            
            &--label {
                color: $icon-dark-gray;
                margin-right: 5px;
            }
            
            &--item  {
                margin: 5px;
                
                @include when-less-than(tablet) {
                    margin: 5px 0;
                }
            }
            
            &--chip  {
                margin: 5px;
                padding: 5px 10px;
                border-radius: 3px;
                cursor: pointer;
                outline: 0;
                background: rgba(61, 131, 225, 0.25);
                
                @include when-less-than(tablet) {
                    margin: 5px 0;
                }
            }
        }
        
        &--diagnoses  {
            min-height: 54px;
            padding: 15px 0;
            
            @include when-less-than(tablet) {
                padding: 10px 0;
            }
            
            .qd-icon  {
                margin-left: 20px;
            }
            
            &-body  {
                padding: 0 20px;
                
                @include when-less-than(tablet) {
                    padding: 0 15px;
                }
            }
            
            &-secondary {
                border-top: 1px solid $divider-gray-1;
                padding: 15px 20px 0;
                margin-top: 15px;
                
                @include when-less-than(tablet) {
                    padding: 10px 15px 0;
                    margin-top: 10px;
                }
            }
            
            &-item  {
                padding: 5px 10px 5px 0;
                
                @include when-less-than(tablet) {
                    padding: 5px 0; 
                }
                
                .qd-dx-code {
                    color: $icon-dark-gray;
                    padding-left: 10px;
                    
                    @include when-less-than(tablet) {
                        padding: 10px 0 0;
                    }
                }
            }
        }
        
        .qd-mlcp__divider {
            margin: 0 20px;
            
            @include when-less-than(mini-tablet) {
                margin: 0 15px;
            }
        }
    }
    
    &__policy  {
        @extend %type-body-2;
        @include elevation(2);
        margin-bottom: 10px;
        
        &--header {
            padding: 10px 15px;
            color: $white;
            background: $green-l;
        }
        
        &--body {
            padding: 10px 15px;
            background: $white;
        }
    }
    
    &__pagination {
        @include when-less-than(mini-tablet) {
            margin: 10px 0 0;
        }
        
        &--bottom {
            margin: 15px 0 0;
            
            @include when-less-than(mini-tablet) {
                margin-right: 20px;
            }
        }
    }
    
    &__dialog {
        @extend %type-body-2;
        word-wrap: break-word;
        
        .qd-icon  {
            color: $white;
            margin: 0;
        }
        
        ul  {
            margin: 15px 0 15px 25px;
            
            li {
                list-style: disc;
            }
        }
    }
}