.settings-page {
    background-color: $background-gray;

    %item-disabled {
        .settings-page__item-title,
        .settings-page__item-subtitle,
        .settings-page__item-description,
        .settings-page__input-container.md-input-has-value label {
            opacity: $text-opacity-hint;
        }
    }

    &__content {
        padding: 0 20px;

        @include when-wider-than(desktop) {
            padding: 0 40px;
        }
    }

    &__bottom-content {
        padding: 30px 20px 20px;

        @include when-wider-than(desktop) {
            padding: 30px 40px 40px;
        }
    }

    &__bottom-content-title {
        @extend %type-headline-1;
        margin-bottom: 5px;
    }

    &__bottom-content-subtitle {
        @extend %type-label-2;
    }

    &__list {
        margin-bottom: 15px;
    }

    &__item {
        padding: 23px 0 23px 20px;
        border-bottom: 1px solid $divider-gray-1;

        &:last-child {
            border-bottom: 0;
        }

        &--master {
            padding-left: 0;
        }

        &--labeled {
            position: relative;
            margin-top: 23px;
            padding-top: 38px;

            &::before {
                @extend %type-body-2;
                color: rgba($black, $text-opacity-secondary);
                content: attr(data-label);
                display: block;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        &--disabled {
            @extend %item-disabled;
        }
    }

    &__input-container {
        padding: 0 0 0 10px;
        margin: 0 20px 0 -10px;

        @include when-on(mobile) {
            margin-top: 30px;
        }

        @include when-wider-than(tablet) {
            width: 160px;
        }
    }

    &__item-title {
        font-size: 16px;
        color: rgba($black, $text-opacity-primary);
        margin: 0 20px 2px 0;

        .settings-page__item--master & {
            @extend %type-headline-2;
            color: $green-l;
        }
    }

    &__item-subtitle {
        @extend %type-subhead-2;
        padding-top: 5px;
        color: rgba($black, $text-opacity-primary);

        @include when-wider-than(desktop) {
            padding-top: 0;
            padding-left: 5px;
        }
    }

    &__item-description {
        @extend %type-label-2;
        color: rgba($black, $text-opacity-secondary);
    }

    &__doctors-notification {
        background: $white;
        border: 1px solid $divider-gray-1;
        padding: 15px;
        margin-top: 15px;
    }

    &__doctors-container {
        padding-left: 30px;
    }

    &__doctor-column {
        padding-right: 100px;

        &:last-child {
            padding-right: 0;
        }
    }

    .qd-switch {
        @include when-on(mobile) {
            margin-top: 10px;
        }
    }
}
