.qd-supplies  {
  
    .qd-header  {
        @include when-less-than(mini-tablet) {
            height: auto;
        }
        
        &__title  {
            height: 70px;
        }
    }
        
    .qd-rectangle-tabs  {
        margin: 0;
        padding: 0;
        
        &__tab  {
            @extend %type-body-2;
            text-transform: capitalize;
            font-weight: normal;
            color: $green-l;
            background: $white;
            height: 79px;
            line-height: 79px;
            min-width: auto;
            width: auto;
            padding: 0 5px;
            margin: 0;
            margin-left: 15px;
            border: 0;
            border-radius: 0;
            
            &:first-of-type  {
                margin-left: 0
            }
            
            &--selected {
                border-bottom: 3px solid $green-l;
            }
            
            .qd-icon  {
                @extend %type-headline-1;
            }
            
            .icon-cart--active  {
                width: 24px;
                height: 24px;
                color: #ffffff;
                border-radius: 18px;
                background: #3d83e1;
                line-height: 24px;
                font-size: 16px;
                margin-right: 3px;
            }
        }
        
        &__handle {
            height: auto;
            padding: 0;
        }
    }
    
    &__filters  {
        position: relative;
        height: 90px;
        padding: 0 40px;
        border-bottom: 1px solid $divider-gray-1;
        background: $background-light-gray;
        
        @include when-less-than(desktop) {
            padding: 0 20px;
        }
        
        @include when-less-than(mini-tablet) {
            height: auto;
            padding: 10px;
        }
        
        &--left {
            padding-right: 15px;
            margin-right: 15px;
            border-right: 1px solid $divider-gray-1;
            
            @include when-less-than(mini-tablet) {
                border-right: 0;
                margin: 0;
                padding: 0;
            }
            
            .qd-button  {
                position: relative;
                margin: 0;
                
                @include when-less-than(mini-tablet) {
                    margin-bottom: 10px;
                }
            }
            
            .qd-icon  {
                margin: 0;
                min-width: 15px;
                width: 15px;
            }
        }
        
        md-menu {
            position: relative;
            top: auto;
            right: auto;
            
            @include when-less-than(mini-tablet) {
                position: absolute;
                top: 10px;
                right: 20px;
            }
        }
    }
    
    &__categories {
        @extend %type-body-2;
        @include elevation(3);
        width: 500px;
        padding: 15px 20px;
        background: $white;
        
        @include when-less-than(tablet) {
            width: 315px;
            height: 350px;
            overflow-y: auto;
        }
        
        &--item {
            padding: 5px;
        }
    }
    
    &__search {
        background: none;
        padding: 0;
        margin: 18px 0 18px 10px;
        
        @include when-less-than(mini-tablet) {
            margin-right: 10px;
        }

        &::before {
            font-size: 22px;
            color: $icon-dark-gray;
            position: absolute;
            left: 0;
            top: 4px;
        }

        input.qd-text-input {
            @extend %type-title-2;
            padding-left: 25px;
        }
        
        &.md-input-focused .icon-go, .icon-go  {
            position: absolute;
            top: 0;
            color: $green-l;
        }
        
        .md-errors-spacer {
            display: none;
        }
    }
    
    md-input-container.md-icon-right  {
        padding: 0;
    }

    &__content {
        padding: 15px 40px 20px;

        @include when-less-than(desktop) {
            padding: 15px 20px 20px;
        }
        
        @include when-less-than(tablet) {
            padding: 15px 0 20px;
        }
    }
    
    &__content-supplies {
        padding: 0 40px 20px 40px;
        
        @include when-less-than(desktop) {
            padding: 0 20px 20px;
        }
        
        @include when-less-than(tablet) {
            padding: 0 0 20px;
        }
        
        &-header, &-footer  {
            height: 54px;
            padding: 0 8px;
            
            @include when-less-than(tablet) {
                padding: 0 20px;
            }
        }
        
        &-title {
            @extend %type-headline-1;
            font-weight: 300;
        }
    }
    
    &__items {
        box-sizing: border-box;
    }
    
    &__item {
        @extend %type-body-2;
        height: 275px;
        border-radius: 0;
        
        @include when-less-than(tablet) {
            margin: 0 0 15px;
        }
        
        &--details  {
            @extend %type-body-2;
            padding: 10px 15px;
        }
        
        &--img  {
            min-width: auto;
            height: 100px;
            margin-bottom: 10px;
            text-align: center;
            
            img {
                width: auto;
                height: 100%;
            }
        }
        
        &--title  {
            margin-bottom: 3px;
            font-weight: 700;
            line-height: 1.1em;
            text-transform: capitalize;
        }
        
        &--number, &--units  {
            color: $icon-dark-gray;
            margin-bottom: 3px;
        }
        
        &--order  {
            padding: 10px 0;
            border-top: 1px solid $divider-gray-1;
            
            .qd-text-input {
                width: 40px;
            }
            
            .qd-button  {
                margin: 0 0 0 5px;
                font-size: 12px;
                height: auto;
            }
        }
    }

    // Order History Page Styles

    &__item-order-history {
        @extend .qd-supplies__item;
        margin: 0 0 15px 0;
        height: auto;

        &--order-details-wrapper {
            border-bottom: 1px solid $divider-gray-1;
            padding: 4px 0;
            margin-bottom: 15px;
        }

        &--number, &--time, &--client, &--ordered-by, &--order-actions .qd-button {
            height: 30px;
            min-height: 30px;
            padding: 0 20px;
            display: flex;
            align-items: center;
            border-right: 1px solid $divider-gray-1;
        }

        &--number, &--time, &--client, &--ordered-by {
            
            @include when-less-than(tablet) {
                width: 100%;
                border-right: none;
            }

            &:last-child {
                border-right: none;
            }
        }

        &--number, &--client span, &--ordered-by span {
            font-weight: 700;
            color: $black;
        }

        &--order-actions {
            width: 100%;

            .qd-button {
                border-right: 1px solid $divider-gray-1;
                margin: 0;
                line-height: normal;

                &:hover {
                    background: none;
                }

                &:last-child {
                    border-right: none;
                    margin-right: 0;
                }
            }

            @include when-wider-than(desktop) {
                width: 40%;
            }

        }

        &--img {
             @extend .qd-supplies__item--img;
             max-width: 80px;
             height: 80px;
             padding: 0 20px 0 0;

        }

        &--quantity {
            @extend .qd-supplies__item--number;

            .amount {
                font-weight: 700;
                color: $black;
            }
        }
    }
    
    &__subtitle  {
        @extend %type-subhead-2;
        font-weight: 300;
        height: 54px;
        margin: 0 40px;
        
        @include when-less-than(desktop) {
            margin: 0 20px;
        }
    }
    
    &__cart--card {
        @include elevation(2)
        padding: 0;
        margin: 0 40px 20px;
        border-radius: 0;
        position: relative;
        
        @include when-less-than(desktop) {
          margin: 0 0 15px;
        }
        
        &-header  {
            @extend %type-body-1;
            text-transform: uppercase;
            padding: 0 0 0 20px;
            height: 50px;
            color: $white;
            background-color: $green-l;
            
            .qd-icon  {
                color: $white;
            }
        }
        
        &-content  {
            @extend %type-body-2;
            padding: 15px 20px;
        }
        
        &-empty {
            color: rgba(0,0,0,$text-opacity-hint);
        }
        
        &-comments  {
            margin: 0;
            padding: 0;
        }
        
        &-hint {
            color: rgba(0,0,0,$text-opacity-secondary);
            margin-bottom: 15px;
        }
        
        .qd-radio-button:last-of-type {
            margin-bottom: 0;
        }
        
        .qd-supplies__item--details {
            @include when-less-than(tablet) {
                padding: 10px 0; 
            }
        }
       
        .qd-supplies__item--order  {
            color: $icon-dark-gray;
            padding: 0;
            border-top: 0;
        }
    }
    
    .qd-save-cancel {
        margin-bottom: 20px;
        
        button  {
            margin-bottom: 20px;
        }
    }
}

.qd-main-content  {
    background: $background-gray;
}