.md-button.qd-button {
    @extend %type-cta;
    color: $green-l;
    padding: 0 10px;
    height: 40px;

    md-icon.qd-icon {
        color: $green-l;
        margin-right: 5px;
    }

    .md-icon-button__text + md-icon.qd-icon {
        margin-right: 0;
        margin-left: 5px;
    }
}

.md-button.md-raised.qd-button {
    @extend %type-cta;
    @include elevation(3);
    width: 260px;
    height: 50px;
    background: $green-l;
    color: $white;

    &:not([disabled]):hover,
    &.md-focused {
        background: $green-m;
        cursor: pointer;
    }

    &[disabled] {
        color: $white !important;
        opacity: .3;
    }

    .qd-icon {
        color: $white;
        margin-right: 10px;
    }

    &--with-icon {
        min-width: 60px;
        width: 60px;
        
        .qd-icon {
            @include when-on(mobile) {
                margin-right: 0;
            }
        }

        @include when-wider-than(tablet) {
            width: 200px;
        }
    }

    &--with-two-icons {
        min-width: 60px;
        width: 60px;
        
        .qd-icon {
            @include when-on(mobile) {
                margin-right: 0;
            }

            &:nth-child(3) {
                margin-right: 0;
            }
        }

        @include when-wider-than(tablet) {
            width: 200px;
        }
    }
}
