.qd-password-strength {
    width: 175px;
    text-align: right;
    display: none;

    &__bar {
        width: 90px;
        height: 5px;
        background-color: rgba($icon-gray, .5);
        display: inline-block;
        vertical-align: top;
        position: relative;

        &::before {
            content: '';
            width: 0;
            height: 5px;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .3s;

            .qd-password-strength--weak & {
                width: 33%;
                background-color: $red;
            }

            .qd-password-strength--good & {
                width: 66%;
                background-color: $orange;
            }

            .qd-password-strength--strong & {
                width: 100%;
                background-color: $yellow-l;
            }
        }
    }

    &::before {
        @extend %type-label-1;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: top;
        margin-top: -4px;
        margin-right: 9px;
    }

    &--short {
        display: block;

        &::before {
            content: 'Too Short';
            color: rgba($black, $text-opacity-hint);
        }
    }

    &--weak {
        display: block;

        &::before {
            content: 'Weak';
            color: $red;
        }
    }

    &--good {
        display: block;

        &::before {
            content: 'Good';
            color: $orange;
        }
    }

    &--strong {
        display: block;

        &::before {
            content: 'Strong';
            color: $yellow-l;
        }
    }

    md-input-container & {
        position: absolute;
        top: -21px;
        right: 0;
    }
}
