.qd-message {
  @extend %type-caption;
  width: 100%;
  min-height: 48px;
  font-weight: 700;
  padding: 10px 15px;
  
  &__error  {
    color: #eb3941;
    background: #fff0f0;
    
    md-icon.qd-icon {
      color: #eb3941;
      margin: 0 10px 0 0;
      
      &.icon-close  {
        color: $darkest-gray;
        margin-right: 0;
        margin-left: 15px;
      }
    }
    
    a.qd-link {
        color: $white;
        border-bottom-color: $white;
    }
  }

  // Multiple warning banners for OE - hides banner messages for Diagnostics except in tab view.
  &__warning-diagnosis-mobile {
      @include when-wider-than(mini-tablet) {
        display: none;
      }
  }

  // Success page
  &__draft-message {
    background: $white;
  }
  
  &__warning {
    color: $darkest-gray;
    background: #fffbe6;
    
    md-icon.qd-icon {
      color: #f5bd00;
      margin: 0 10px 0 0;
      
      &.icon-close {
        color: $darkest-gray;
        margin-right: 0;
        margin-left: 15px;
      }
    }
  }
  
  a.qd-link {
      @extend %type-caption;
      text-transform: capitalize !important;
  }
  
  &--space  {
    margin: 15px 0;
  }
  
  &--space-top  {
    margin-top: 15px;
  }
  
  &--space-bottom  {
    margin-bottom: 15px;
  }
}