@import 'error';
@import 'disabled';

html,body{
	height:100%;
}
body {
    font-family: 'Akkurat', sans-serif;
}

md-content  {
  background-color: $background-gray;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.bolder {
	font-weight: 700 !important;
}
